.page.game.audio-to-options-page
  = partial '/partials/games/row_instruction'

  = partial '/partials/games/row_audio_main'

  = partial '/partials/games/row_options'

  = partial '/partials/games/row_submit'