.failure-page.modal{ng: {class: '{loaded: loaded}'}}
  .inner
    .title {{ labelForTitle }}
    .message {{ labelForMessage }}
    %a.button.radius{href: 'javascript:void(0)', ng: {click: 'close()'}}
      {{ labelForClose }}