.page.game.picture-to-options-page
  = partial '/partials/games/row_instruction'

  = partial '/partials/games/row_picture_main'

  = partial '/partials/games/row_options'

  = partial '/partials/games/row_submit'