.page.game.text-to-pictures-page
  = partial '/partials/games/row_instruction'
  
  = partial '/partials/games/row_word', locals: {word: 'answer.label'}

  = partial '/partials/games/row_pictures_main'

  = partial '/partials/games/row_submit'