.tab-page
  %h2 {{ appTab.label }}
  %p
    Welcome to the Gooniyandi Language App. This resource was developed by
    %a{href: 'javascript:void(0)', ng: {click: 'openLink("http://www.yiyilischool.wa.edu.au/")'}} Yiyili Community
    with support from Indigenous Languages Australia (Australian Government).
  %p
    This app is based on Yarrangi Gooniyandi Thangardi: Gooniyandi – English Dictionary, First Edition published by the Kimberley Language Resource Centre and the Gooniyandi Aboriginal Corporation and launched in 2019. Hard copies of the dictionary are available from the
    %a{href: 'javascript:void(0)', ng: {click: 'openLink("https://www.facebook.com/Gooniyandi")'}} Yiyili Community

  %p The spelling and sentences of this app have all been approved by elders when they wrote the dictionary. The app is designed to put this dictionary in your pocket.
