.tab-page
  %h2 {{ gooniyandiTab.label }}
  %p Gooniyandi is the traditional language of the region to the east and south of Fitzroy Crossing, in the southern central Kimberley. The area is roughly bounded by the Margaret River in the north, Christmas Creek and the Great Sandy desert in the south, and the Fitzroy River to the west.
  %p
    %a{href: 'javascript:void(0)', ng: {click: 'openLink("https://aiatsis.gov.au")'}} https://aiatsis.gov.au
  %img{src: 'img/map.jpg'}