.tab-page
  %h2 {{ contactUsTab.label }}
  %p
    This App will be under development until June 2022. After that
    %a{href: 'javascript:void(0)', ng: {click: 'openLink("http://www.yiyilischool.wa.edu.au/")'}} Yiyili School
    will administrate the App. Email us at
    %a{href: 'mailto:gooniyandiapp@gmail.com'} gooniyandiapp@gmail.com
    if you see any editing we need to do.
