.page.entry-page
  .row
    .columns.small-12.large-5.small-centered
      .row
        .image{style: 'background-image: url({{entry.images.normal}})'}
        .row.entry-row
          .entry-word
            %span {{ entry.entry_word }}
        .row.pronunciation
          {{ entry.pronunciation }}
        .row.alternate_spelling-row{'ng-show'=>'entry.alternate_spellings.length > 0'}
          .alternate-spelling{'ng-repeat'=>'alternate_spelling in entry.alternate_spellings'}
            also: {{ alternate_spelling }}
        .row.translation-row
          .definition
            .translation {{ entry.meaning }}
            .word-type {{ entry.word_type }}
          .play-button{ng: {if: 'entry.audio !== null'}}
            %a{href: 'javascript:void(0)', ng: {click: 'listen()'}}
              .play-word.fa
                &#xf144;
      .content
        .row.example-row
          .columns.small-12
            .description {{ entry.example }}
        .row.example-english-row
          .columns.small-12
            .description {{ entry.example_translation }}
        .row.description-row
          .columns.small-12
            .description {{ entry.description }}
