.page.entry-page

  .image-row

    .image-bgd{style: 'background-image: url({{ entry.images.normal }})'}

    .img-container
      / leaving this without the ng-if .. not loading on slow android
      .loading-container
        .loading.spin

      %img.main{data: {id: '{{entry.id}}', imagetype: 'thumbnail'},
        ng: {src: '{{ entry.images.normal }}',
             class: '{www: entry.images.normal.indexOf("http") === 0,
                      local: entry.images.normal.indexOf("http") !== 0}'}}

    .row.audio-player-row
      .columns.small-2.audio-player-container
        .audio-player{ng: {if: 'entry.call_audio'}}
          %a.play-button{href: 'javascript:void(0)', ng: {click: 'call_listen()', if: ' ! isWebView || isWebView && entry.call_audio.indexOf("http") !== 0'}}
          .loading-container{ng: {if: 'isWebView && entry.call_audio.indexOf("http") === 0'}}
            .loading.spin

  .swiper{ng: {swipe: {left: 'swipeChangeEntry("next")', right: 'swipeChangeEntry("previous")'}}}

    .row.entry-word-row
      .columns.small-2.audio-player-container
        .audio-player{ng: {if: 'entry.audio'}}
          %a.play-button{href: 'javascript:void(0)', ng: {click: 'listen()', if: ' ! isWebView || isWebView && entry.audio.indexOf("http") !== 0'}}
          .loading-container{ng: {if: 'isWebView && entry.audio.indexOf("http") === 0'}}
            .loading.spin

      .columns.small-10
        .entry-word{scale: {fit: ''}}
          %span {{ entry.entry_word }}

        .alternate-spellings{'ng-show'=>'entry.alternate_spellings.length > 0'}
          %span also:
          .alternate-spelling{'ng-repeat'=>'alternate_spelling in entry.alternate_spellings'}
            {{ alternate_spelling }}

        .translation {{ entry.translation }}

        .alternate-translations{'ng-show'=>'entry.alternate_translations.length > 0'}
          %span also:
          .alternate-translation{'ng-repeat'=>'alternate_translation in entry.alternate_translations'}
            {{ alternate_translation }}

        .scientific-name {{ entry.scientific_name }}


    .row.word-type-row
      .columns.small-offset-2.small-10
        .word-type {{ entry.word_type }}


    .row.sentence-row
      .columns.small-2.audio-player-container
        .audio-player{ng: {if: 'entry.sentence_audio'}}
          %a.play-button{href: 'javascript:void(0)', ng: {click: 'sentence_listen()', if: ' ! isWebView || isWebView && entry.sentence_audio.indexOf("http") !== 0'}}
          .loading-container{ng: {if: 'isWebView && entry.sentence_audio.indexOf("http") === 0'}}
            .loading.spin

      .columns.small-10
        .sentence {{ entry.sentence }}
        .sentence-translation {{ entry.sentence_translation }}

    .row.description-row
      .columns.small-offset-2.small-10
        .description{"ng-bind-html" => "formattedDescription"}
