.page.games-page
  .row
    .columns.small-12.large-5.small-centered
      %ul.small-block-grid-2.categories.menu-items
        %li{ng: {repeat: 'category in categories'}}
          %a{href: 'javascript:void(0)', ng: {click: 'startGamesFor(category)'}}
            .menu-item{style: 'background-image: url({{ category.images.thumbnail }})'}
            %h2.name{fit: {text: '0.8'}} {{ category.name }}
