.page.home-page.flex-fill-height

  .item
    %a{href: '#/categories'}
      %h3.menu-label {{ labelForCategories }}

  .item
    %a{href: '#/games'}
      %h3.menu-label {{ labelForLearn }}

  .item
    %a{href: '#/dictionary'}
      %h3.menu-label {{ labelForDictionary }}

  .item
    %a{href: '#/common'}
      %h3.menu-label {{ labelForCommon }}

  .item
    %a{href: '#/word_of_the_day'}
      %h3.menu-label {{ labelForWordOfTheDay }}

  .item
    %a{href: '#/about'}
      %h3.menu-label {{ labelForAbout }}