.list-entry.row
  .column.small-4.large-4.thumbnail-column
    .thumbnail{bo: {style: "{'background-image': 'url(' + entry.images.thumbnail + ')'}"}}
  .column.small-8.large-8
    .entry-word{bo: {text: 'entry.entry_word' }}
    .translation{bo: {text: 'entry.translation' }}