.tab-page
  %h2 {{ partnersTab.label }}

  %p This app is built on the Jila framework, proudly created by ThoughtWorks.
  %a{href: 'javascript:void(0)', ng: {click: 'openLink("http://www.thoughtworks.com")'}}
    %img.logo{src: 'img/tw_logo.png'}