.search-panel{ng: {show: 'searchIsVisible'}}
  %input.search-input{type: 'search', placeholder: '{{labelForSearch}}', ng: {model: 'searchString', change: 'searchStringChanged()'}, focus: {when: 'searchIsVisible'}}
  %ul.small-block-grid-1.entries{ng: {if: 'entries.length > 0'}}
    %li{bindonce: '', ng: {repeat: 'entry in entries'}}
      %a{bo: {href: "'#/entries/' + entry.id"}, ng: {click: 'hideSearch()'}}
        = partial 'partials/list_entry'