$body_background: #DDD;
$main_text_color: black;

$navbar_background: black;
$navbar_text: $main_text_color;

$light_grey: #f2f2f2;
$grey: #e0e0e0;
$dark_grey: #484848;

$circle_background: black;

$background_thumbnail: rgba(0,0,0,0.05);
$background_entry_common: rgba(91,160,177,0.25);
$background_entry_category: rgba(222,213,63,0.25);
$background_entry_search: rgba(0,0,0,0.05);

$button_disabled: $grey;