html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: $topbar-height;
  transition: height 0.25s ease;

  &.visible {
    height: 100%;
    overflow: hidden;
  }
}

.page-container {
  position: fixed;
  top: $topbar-height;
  width: 100%;
  height: 100%;
}

.page {
  height: 100%;
  padding-bottom: $topbar-height;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.modal {
  width: 100%;
  height: 100%;
}

.splash {
  position: absolute;
  z-index: 101;
  top: -$topbar-height;
  height: 100%;
  width: 100%;

  .warning {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

$tab_header_height: rem-calc(60);
.tab-headers {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.tab-header {
  height: $tab_header_height;
  line-height: $tab_header_height;
}

.tab-content {
  margin-top: $tab_header_height;
}

.android {
  .tab-header {
    height: $tab_header_height;
  }

  .tab-content {
    margin-top: $tab_header_height;
  }
}

.ios {
  .tab-headers {
    top: initial;
    bottom: $topbar-height;
  }

  .tab-content {
    margin-top: 0;
  }

  .tab-page {
    padding-bottom: $tab_header_height;
  }
}

$submit_row_height: rem-calc(100);
$submit_row_offset: $submit_row_height + rem-calc(20);
$answer_row_height: rem-calc(120);
$main_row_offset: $submit_row_offset + $answer_row_height + rem-calc(10);
$main_row_height: rem-calc(300);
$main_row_height_small: rem-calc(160);
$main_row_height_keyboard: rem-calc(50);
$bottom_offset: rem-calc(15);
.game {
  position: relative;

  .word-row,
  .word-row-small,
  .audio-row,
  .pictures-row,
  .sort-row,
  .options-row,
  .submit-row,
  .answer-text-row {
    position: absolute;
  }

  .word-row, .word-row-small, .audio-row {
    bottom: $main_row_offset;
  }

  .options-row, .sort-row, .pictures-row, .answer-text-row {
    bottom: $submit_row_offset;
  }

  .submit-row {
    bottom: $bottom_offset;
  }

  .audio-row, .word-row, .word-row-small {
    width: 100%;
  }

  .word-row-small {
    display: none;
    height: $main_row_height_keyboard;
  }

  .answer-text-row {
    height: $answer_row_height;

    .answer-text {
      margin: 0;
      height: 100%;
    }
  }

  .word-row, .audio-row {
    height: $main_row_height;
  }

  @media only screen
    and (orientation : portrait)
    and (max-height : $max_height_for_small) {
    .word-row, .audio-row {
      height: $main_row_height_small;
    }
  }

  .options-row, .sort-row {
    height: $answer_row_height;
  }

  .submit-row {
    height: $submit_row_height;
    .submit {
      width: 100%;
    }
  }

  .audio-main, .answer-label {
    @include center-in-parent;
  }

  .picture-main {
    @include responsive-square;
  }

  @media only screen
    and (orientation : portrait)
    and (max-height : $max_height_for_small) {
    .picture-main {
      @include responsive-square(70%);
    }

    .pictures-main {
      margin: auto;
      width: 80%;
    }
  }

  .audio-main {
    width: 50%;
    margin: auto;
  }

  &.text-to-pictures-page {
    .word-row {
      position: initial;
      height: initial;

      .answer-label {
        @include center-in-parent(0%);
        position: relative;
      }
    }
  }
}