.splash {
  @include full-background-image;
  background-image: url(../img/splash_bg.jpg);

  .name {
    @include center-in-parent;
    color: white;
    font-size: 60px;
    font-weight: bold;
  }

  .retry-section {
    @include center-in-parent;
    top: 80%;
  }
}