.splash {
  @include full-background-image;
  top: 0;

  .name {
    @include center-in-parent(50%, 20%);
    width: 100%;
    text-align: center;
    h1, h4 {
      color: white;
      @include text-shadow(0, 0, 10px, rgba(0,50,100,1));
    }
  }

  .retry-section {
    @include center-in-parent;
    top: 80%;
  }
}